.main {

    font-family: 'Cabin', sans-serif;
}

.title {
    text-align: center;
    margin-top: 15vh;
    font-size: 3em;
}

.desc {
    text-align: center;
}

.my-4 {
    max-width: 50vmax;
    
}

.login-area {
    display : flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;

}
.child {
    margin: 0 auto;
    min-width: 30vw;
}

.form-field {
    width: 80%;
    padding: .5vh 1vw;
    flex-grow:2;
    border-radius: 20pt;
    border:none;
    background-color: rgb(234, 235, 236);
}

.form-nav {
    display: flex;
    margin: 4vh auto 0 auto;
}

.form-nav-item {
    color:grey;
    margin-left: .5vw;
    margin-right: .5vw;
    -webkit-transition: color 0.8s ease;
    -moz-transition: color 0.8s ease;
    -o-transition: color 0.8s ease;
    transition: color 0.8s ease;
}

.form-nav-item-arrow {
    margin:0 .5vmax;
    color:grey;
}

.login-form {
    display:flex;
    flex-direction:row;
    
    border-radius: 20pt;
    border: solid 1px;
    
    padding: 3px;
    background-color: rgb(234, 235, 236);
    margin-bottom: 2vh;
}

input:focus {
   outline: none;
}

.next-button {
    background: transparent;
    border: transparent;
    font-size: 1.4em;
    font-weight: bold;
    color: #17a2b8;
    -webkit-transition: color 0.6s ease;
    -moz-transition: color 0.6s ease;
    -o-transition: color 0.6s ease;
    transition: color 0.6s ease;
}

.reg-message {
    margin: 7vh auto;
}

a {
    text-decoration: none;
}

.warn-msg {
    color:red;
}

.alamat {
    margin:0 .5vw;
    border-left:solid 1px grey;
    border-radius: 20pt;
}