{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
    <link rel = "stylesheet" href = "{% static 'user/css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body class = "main bg-light">
  <div class="container">
      {% if role == "admin" %}
        {% include 'navbar_admin.html' %}
      {% else %}
        {% include 'navbar_anggota.html' %}
      {% endif %}
      <div class = "display-4 banner">
        Profil Anda
        <hr>
      </div>
      <div class = "profile-area">
        <div>
          <h3 class = "role blue-under">
            {% if role == "admin" %}
              ADMIN
            {% else %}
              ANGGOTA
            {% endif %}
          </h3>
          <div class = "profile-flex">
            <div class = "flex-left mr-auto">
              <div class = "attr-row">
                <img src="{% static 'user/images/id.png' %}">
                <h6 class = "cancel-margin-bot">{{user_data.idn}}</h6>
              </div>
              <div class = "attr-row">
                <img src="{% static 'user/images/name.png' %}">
                <h6 class = "cancel-margin-bot">{{user_data.name}}</h6>
              </div>
              <div class = "attr-row">
                <img src="{% static 'user/images/email.png' %}">
                <h6 class = "cancel-margin-bot">{{user_data.email}}</h6>
              </div>
              <div class = "attr-row">
                <img src="{% static 'user/images/date.png' %}">
                <h6 class = "cancel-margin-bot">{{user_data.bdate}}</h6>
              </div>
              <div class = "attr-row">
                <img src="{% static 'user/images/phone.png' %}">
                <h6 class = "cancel-margin-bot">{{user_data.telp}}</h6>
              </div>
            </div>
            {% if role == "member" %}
              <div class="separator"></div>
              <div class = "flex-right">
                <div class = "attr-row">
                  <img src="{% static 'user/images/medal.png' %}">
                  <h6 class = "cancel-margin-bot">{{user_data.level}}</h6>
                </div>
                <div class = "attr-row">
                  <img src="{% static 'user/images/point.png' %}">
                  <h6 class = "cancel-margin-bot">{{user_data.point}} points</h6>
                </div>
                {% for address in addresses %}
                  <div class = "attr-row">
                    <img src="{% static 'user/images/home.png' %}">
                      <h6 class = "cancel-margin-bot"><b>{{ address.1 }}</b> : {{ address.2 }} No. {{ address.3 }}, {{ address.4 }}, {{ address.5 }} </h6>
                  </div>
                {% endfor %}
              </div>
            {% endif %}
            
          </div>
          
        </div>
      </div>
  </div>
      
</body>
</html>
