<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Barang</title>
    <link rel = "stylesheet" href = "{% static 'item/css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- MDB core JavaScript -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <script src = "{% static 'mdb/js/mdb.min.js' %}" type = "text/javascript"></script>
    <link rel = "stylesheet" href = "{% static 'mdb/css/addons/datatables.min.css' %}">
    <script src = "{% static 'mdb/js/addons/datatables.min.js' %}" type = "text/javascript"></script>
    <script src = "{% static 'item/js/scripts.js' %}" type = "text/javascript"></script>
</head>
<body class = "bg-light main">
    <div class = "container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand blue-under font-title" href="#">ToysRent</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>        
                    <div class="collapse navbar-collapse" id="navbarColor01">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Item
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'item:create_item' %}">Tambah Item</a>
                                <a class="dropdown-item" href="{% url 'item:show_items' %}">Daftar Item</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Barang
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Tambah Barang</a>
                                <a class="dropdown-item" href="#">Daftar Barang</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Level
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Tambah Level</a>
                                <a class="dropdown-item" href="#">Daftar Level</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Pesanan
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Buat Pesanan</a>
                                <a class="dropdown-item" href="#">Daftar Pesanan</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Pengiriman
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="{% url 'pengiriman:buat-pengiriman' %}">Buat Pengiriman</a>
                                    <a class="dropdown-item" href="{% url 'pengiriman:daftar-pengiriman' %}">Daftar Pengiriman</a>
                                </div>
                            </li>
                        </ul>
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'user:profile' %}">Profile <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Chat Pengguna</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Daftar Review</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'toysrent_auth:login' %}">Logout</a>
                            </li>
                        </ul>
                    </div>
                </nav>

        <div class = "display-4 banner">
            Daftar Barang
            <hr>
        </div>
        <h5>Klik salah satu atribut untuk mensortir.</h5>
        <table class="table table-striped" id="dtItem">
            <thead>
                <tr>
                    <th class ="th-sm" scope = "col">No.</th>
                    <th class ="th-sm" scope = "col">Nama</th>
                    <th class ="th-sm" scope = "col">Kategori</th>
                    
                        <th class ="th-sm" scope = "col">Action [ADMIN]</th>
                    
                </tr>
            </thead>
            <tbody>
                    <tr scope = "row">
                        <td>1</td>
                        <td>test</td>
                        <td>dummy</td>
                        
                            <td>
                                <a class = "blue-under table-ref" href = "{% url 'item:update_item' %}">Update</a>
                                <span class = "separator">|</span> 
                                <a class = "blue-under table-ref" href = "#" data-toggle="modal" data-target="#deleteModal">Delete</a> 
                                <span class = "separator">|</span> 
                                <a class = "blue-under table-ref" href = "#">Tambah Barang</a>
                                <span class = "separator">|</span>
                                <a class = "blue-under table-ref" href = "#">Info</a>
                            </td>
                    </tr>

                <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Delete Item?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Apakah anda benar-benar ingin menghapus item ini?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary">Cancel</button>
                            <button type="button" class="btn btn-outline-danger"  data-dismiss="modal">Delete Item</button>
                        </div>
                        </div>
                    </div>
                    </div>
            </tbody>
        </table>

    </div>
</body>
</html>
