<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tambah Barang</title>
    <link rel = "stylesheet" href = "{% static 'item/css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    <script src = "{% static 'toysrent_auth/js/scripts.js' %}" type = "text/javascript"></script>
</head>
<body class="bg-light main">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand blue-under font-title" href="#">ToysRent</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>        
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Item
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'item:create_item' %}">Tambah Item</a>
                        <a class="dropdown-item" href="{% url 'item:show_items' %}">Daftar Item</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Barang
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Tambah Barang</a>
                        <a class="dropdown-item" href="#">Daftar Barang</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Level
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Tambah Level</a>
                        <a class="dropdown-item" href="#">Daftar Level</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Pesanan
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Buat Pesanan</a>
                        <a class="dropdown-item" href="#">Daftar Pesanan</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Pengiriman
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'pengiriman:buat-pengiriman' %}">Buat Pengiriman</a>
                            <a class="dropdown-item" href="{% url 'pengiriman:daftar-pengiriman' %}">Daftar Pengiriman</a>
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'user:profile' %}">Profile <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Chat Pengguna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Daftar Review</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'toysrent_auth:login' %}">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
        
        <div class = "display-4 banner">
            Tambah Barang
            <hr>
        </div>
        <div class="item-area">
            <div class = "reg-content" id="reg-content-item">
                <form>
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="ID Barang">
                    </div>

                    <div class="form-group">
                        <select class="select">
                          <option selected>Choose...</option>
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                        </select>
                      </div>

                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Warna">
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="URL Foto">
                    </div>
  
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Kondisi">
                    </div>
  
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Lama Penggunaan">
                    </div>

                    <div class="form-group">
                        <select class="select">
                          <option selected>Choose...</option>
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                        </select>
                      </div>
                    
                    Info Barang
                    <br/>
                    <br/>
                    +Bronze
                    <br/>
                    Persen royalty: <div class="form-group">
                        <input type="text" class="form-control" placeholder="%">
                    </div>Harga sewa: <div class="form-group">
                        <input type="text" class="form-control" placeholder="Rupiah/Minggu">
                    </div>
                    <br/>
                    +Silver
                    <br/>
                    Persen royalty: <div class="form-group">
                        <input type="text" class="form-control" placeholder="%">
                    </div>Harga sewa: <div class="form-group">
                        <input type="text" class="form-control" placeholder="Pem">
                    </div>
                    </form>
                    <br/>
                    +Gold
                    <br/>
                    Persen royalty: <div class="form-group">
                        <input type="text" class="form-control" placeholder="Pem">
                    </div>Harga sewa: <div class="form-group">
                        <input type="text" class="form-control" placeholder="Pem">
                    </div><br/>
                    
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $('select').selectpicker();
            $('.filter-option-inner-inner').html("Kategori");
        });
    </script>
</body>
</html>
