<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Daftar Pesanan</title>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>


</head>
<body>
{% if role == "admin" %}
    {% include 'navbar_admin.html' %}
{% else %}
    {% include 'navbar_anggota.html' %}
{% endif %}
<div class="container">
    <div class="row">
        <div class="col-md-12">

            <h3>Daftar Pesanan</h3>

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Id pesanan</th>
                    <th scope="col">Daftar barang</th>
                    <th scope="col">Harga</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                    <th scope="col">Action(Admin)</th>
                </tr>
                </thead>
                <tbody>

                {% for pesanan in semua_pesanan %}
                    <tr>
                        <th scope="row">{{ pesanan.0 }}</th>
                        <td>{{ pesanan.7 }}</td>
                        <td>{{ pesanan.3 }}</td>
                        <td>{{ pesanan.6 }}</td>
                        <td>
                            <button onclick="updateFunction({{ pesanan.0 }})">UPDATE</button>
                        </td>
                        <td>
                            <button onclick="deleteFunction({{ pesanan.0 }})">DELETE</button>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>

            <h3>Filter Harga</h3>
            <form>
                {% csrf_token %}
                <div class="form-group">

                    <label for="formGroupExampleInput">Dari</label>
                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="100">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput2">Sampai</label>
                    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="500">
                </div>
            </form>


        </div>
    </div>
</div>

<script>
    function updateFunction(idPesanan) {
        window.location.href = "/pesan/update/" + idPesanan + "/";
    }

    function deleteFunction(idPesanan) {
        var csrftoken = $("[name=csrfmiddlewaretoken]").val();

        $.ajax({
            type: 'POST',
            url: '',
            data: {'id_pesanan': idPesanan},
            headers: {
                "X-CSRFToken": csrftoken
            },
            success: function (data) {
                alert('Pesanan berhasil dihapus');
                location.reload();


            },
            error: function (sesuatu) {
                alert('error');
            }


        });
    }

</script>

</body>
</html>