<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pesan</title>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>


</head>
<body>
{% if role == "admin" %}
    {% include 'navbar_admin.html' %}
{% else %}
    {% include 'navbar_anggota.html' %}
{% endif %}

<div class="container">
    <div class="row">
        <div class="col-md-12">

            <h3>Barang Yang Dipilih : </h3>
            <ul id="list-barang">


            </ul>

            <div class="form-group">

                {% csrf_token %}
                <!--Admin Only-->
                <label for="anggotaSelect">Anggota: </label>
                <select class="form-control" id="anggotaSelect">
                    {% for anggota in all_anggota %}
                        <option id="{{ anggota.1 }}">{{ anggota.0 }}</option>
                    {% endfor %}
                </select>


                <label for="sel1">Barang:</label>
                <select class="form-control" id="barang_dipilih">
                    {% for barang in all_barang %}
                        <option id="{{ barang.0 }}">{{ barang.1 }}</option>
                    {% endfor %}

                </select>
                <button onclick="tambahKeList()" type="button">Pilih barang</button>
                <br>

                <label for="hari">Berapa lama?</label>
                <input type="number" name="amount" class="form-control" placeholder="masukan jumlah hari" step="any"
                       required="" id="hari">
                <br>
                {#                <button class="btn btn-primary" type="submit" onclick="pesan()">Pesan</button>#}
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
                        onclick="pesan()">
                    Pesan
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Total Harga : <h4 id="total-harga">Loading Total... Harap Menunggu</h4>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button id="lanjut" type="button" class="btn btn-primary" onclick="lanjut()" disabled>Lanjut?</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- -->

            </div>


        </div>
    </div>
</div>

<script>


    function tambahKeList() {

        var barangDipilih = $("#barang_dipilih").val();
        var idBarang = $("#barang_dipilih").children(":selected").attr("id");
        $("#list-barang").append($("<li id=\"" + idBarang + "\">" + barangDipilih + "</li>"));
    }

    function pesan() {
        var csrftoken = $("[name=csrfmiddlewaretoken]").val();

        var idBarang = "";
        $('#list-barang li').each(function (i) {
            //var dalemArray = [];
            //dalemArray.push($(this).attr("id"));
            //array.push(dalemArray);
            idBarang += $(this).attr("id") + ',';
        });

        alert(idBarang);
        $.ajax({
            type: 'POST',
            url: '{% url 'pesanan:cekharga' %}',
            data: {'pesanan': idBarang},
            headers: {
                "X-CSRFToken": csrftoken
            },
            success: function (data) {

                $("#total-harga").html(data);
                $("#lanjut").prop("disabled", false);


            },
            error: function (sesuatu) {
                alert('error');
            }


        });


    }

    function lanjut() {


        var csrftoken = $("[name=csrfmiddlewaretoken]").val();
        var array = [];// del
        $('#list-barang li').each(function (i) {
            var dalemArray = [];

            dalemArray.push($(this).text());
            dalemArray.push($(this).attr("id"));
            array.push(dalemArray);
        }); //del


        $.ajax({
            type: 'POST',
            url: '/pesan/berhasilpesan',
            data: {'pesanan': JSON.stringify(array), 'total_harga' : $('#total-harga').text()},
            headers: {
                "X-CSRFToken": csrftoken
            },
            success: function (data) {
                alert(array);
                location.reload();


            },
            error: function (sesuatu) {
                alert('error');
            }


        });
    }


</script>

</body>
</html>