<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>update pesanan</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>


</head>
<body>
{% if role == "admin" %}
    {% include 'navbar_admin.html' %}
{% else %}
    {% include 'navbar_anggota.html' %}
{% endif %}
{% csrf_token %}

<h3>Barang:</h3>
<ul>
    {% for barang in data %}
        <li>{{ barang.1 }}
            <button onclick="deleteFunction({{ barang.0 }})">Delete</button>
        </li>
    {% endfor %}


</ul>

<div class="form-group">
    <label for="exampleFormControlSelect1">Example select</label>
    <select class="form-control" id="pilih_barang">
        {% for item in barang %}
            <option>{{ item }}</option>
        {% endfor %}
    </select>

    <button onclick="tambahFunction()">Tambah</button>
</div>

<br>
<button>UPDATE</button>

<script>

    function deleteFunction(id_barang) {
        var csrftoken = $("[name=csrfmiddlewaretoken]").val();
        $.ajax({
            type: 'POST',
            url: '',
            data: {'command': 'DELETE', 'the_barang': id_barang},
            headers: {
                "X-CSRFToken": csrftoken
            },
            success: function (data) {
                alert('Berhasil HAPUS');
                location.reload();


            },
            error: function (sesuatu) {
                alert('error');
            }


        });
    }

    function tambahFunction() {
        var csrftoken = $("[name=csrfmiddlewaretoken]").val();
        $.ajax({
            type: 'POST',
            url: '',
            data: {'command': 'TAMBAH', 'the_barang': $('#pilih_barang').val()},
            headers: {
                "X-CSRFToken": csrftoken
            },
            success: function (data) {
                alert('Berhasil Tambah');
                location.reload();


            },
            error: function (sesuatu) {
                alert('error');
            }


        });

    }


</script>

</body>
</html>