{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Buat Pengiriman</title>
    <link rel = "stylesheet" href = "{% static 'pengiriman/css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src = "{% static 'toysrent_auth/js/scripts.js' %}" type = "text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body class = "main bg-light">
    <div class = "container">
        {% if role == "admin" %}
            {% include 'navbar_admin.html' %}
        {% else %}
            {% include 'navbar_anggota.html' %}
        {% endif %}
    </div>
    <div class = "login-area">
        <div class = "child">
            <h3>Buat Pengiriman</h3>
            <p>Kirimkan barang yang Anda pesan</p>
            <form method="POST", action="">
                <div class="form-group">
                    <label for="dropdownBarang">Barang pesanan</label>
                    <select class="form-control" id="dropdownBarang">
                        <option>Barang 1</option>
                        <option>Barang 2</option>
                        <option>Barang 3</option>
                        <option>Barang 4</option>
                        <option>Barang 5</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="dropdownAlamat">Alamat tujuan</label>
                    <select class="form-control" id="dropdownAlamat">
                        <option>Alamat 1</option>
                        <option>Alamat 2</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="formTanggal">Tanggal pengiriman</label>
                    <input type="date" class="form-control" id="formTanggal" required></input>
                </div>
                <div class="form-group">
                    <label for="formMetode">Metode</label>
                    <input class="form-control" id="formMetode" placeholder="e.g. YES" required></input>
                </div>
                {% csrf_token %}
                <button type="submit" class="next-button">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>