{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Daftar Pengiriman</title>
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src = "{% static 'toysrent_auth/js/scripts.js' %}" type = "text/javascript"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel = "stylesheet" href = "{% static 'mdb/css/addons/datatables.min.css' %}">
    <script src = "{% static 'mdb/js/addons/datatables.min.js' %}" type = "text/javascript"></script>
    <link rel = "stylesheet" src = "{% static 'pengiriman/css/styles.css' %}">
    <script src = "{% static 'pengiriman/js/scripts.js' %}" type = "text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>

</head>
<body class = "main bg-light">
    <div class = "container">
        {% if role == "admin" %}
            {% include 'navbar_admin.html' %}
        {% else %}
            {% include 'navbar_anggota.html' %}
        {% endif %}
    
        <div align="middle" class = "child">
            <h3>Daftar Pengiriman</h3>
            <p>Pengiriman yang telah dipesan</p>
            </form>
        </div>

        <table id="dtPengiriman" class="table table-hover" style="width: 100%">
            <thead>
                <tr>
                    <th>ID Pengiriman</th>
                    <th>Daftar barang - ID pemesanan</th>
                    <th>Harga total</th>
                    <th>Tanggal pengiriman</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for p in list_pengiriman %}            
                <tr>
                    <td>{{ p.0 }}</td>
                    <td>{{ p.1 }} - {{ p.2 }}</td>
                    <td>{{ p.3 }}</td>
                    <td>{{ p.4 }}</td>
                    {% if role == "admin" %}
                        <td><button type="button" class="btn btn-warning" onclick="window.location.href='/pengiriman/update-pengiriman'">Update</button></td>
                    {% else %}
                        <td>
                            <button id="{{ p.0 }}" onclick="updateFunction(this.id)" type="button" class="btn btn-warning">Update</button>
                            <button id="{{ p.0 }}" onclick="deleteFunction(this.id)" type="button"  class="btn btn-danger">Delete</button> 
                            <button id="{{ p.0 }}" onclick="reviewFunction(this.id)"type="button" class="btn btn-primary">Tulis review</button>
                        </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>  
    </div>
    <script>
        function updateFunction(noResi) {
            window.location.pathname = "pengiriman/update-pengiriman/" + noResi + "/";
        }
        function deleteFunction(noResi) {
            var csrftoken = $("[name=csrfmiddlewaretoken]").val();
            $.ajax({
                type: 'POST',
                url: '/pengiriman/',
                data: {'no_resi': noResi},
                headers: {
                    "X-CSRFToken": csrftoken
                },
                success: function (data) {
                    alert('Pengiriman berhasil dihapus');
                    location.reload();
                },
                error: function (sesuatu) {
                    alert('Error');
                }
            });
        }
        function reviewFunction(noResi) {
            window.location.pathname = "review/buat-review/" + noResi + "/";
        }
    </script>
</body>
</html>