<!DOCTYPE html>
<html lang="en">
<head>

    <meta http-equiv="refresh"
          content="3; url=/level">

    <meta charset="UTF-8">
    <title>Berhasil Tambah Level</title>
</head>
<body>
{% if role == "admin" %}
    {% include 'navbar_admin.html' %}
{% else %}
    {% include 'navbar_anggota.html' %}
{% endif %}
Level Berhasil Ditambahkan <br>
Akan auto redirect dalam 3 detik


</body>
</html>