<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Daftar Pesanan</title>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>


</head>
<body>
{% if role == "admin" %}
    {% include 'navbar_admin.html' %}
{% else %}
    {% include 'navbar_anggota.html' %}
{% endif %}
{% csrf_token %}
<div class="container">
    <div class="row">
        <div class="col-md-12">

            <h3>Daftar Level</h3>
            <div id="the-table">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">Nama Level</th>
                        <th scope="col">Deskripsi</th>
                        <th scope="col">Minimum Poin</th>
                        {% if role == 'admin' %}
                            <th scope="col">Action(Admin)</th>
                        {% endif %}

                    </tr>
                    </thead>
                    <tbody>

                    {% for level in list_level %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ level.0 }}</td>
                            <td>{{ level.2 }}</td>
                            <td>{{ level.1 }}</td>
                            {% if role == 'admin' %}
                                <td>
                                    <button id="{{ level.0 }}" onclick="updateFunction(this.id)">UPDATE</button>
                                    <button onclick="deleteFunction({{ level.0 }})">DELETE</button>
                                </td>
                            {% endif %}
                        </tr>

                    {% endfor %}
                    <button id="ha">test</button>


                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>


<script>


    function updateFunction(btn_id) {
        window.location.href = "update/" + btn_id + "/";
    }

    function deleteFunction(namaLevel) {
        var csrftoken = $("[name=csrfmiddlewaretoken]").val();

        $.ajax({
            type: 'POST',
            url: '/level/',
            data: {'nama_level': namaLevel.id},
            headers: {
                "X-CSRFToken": csrftoken
            },
            success: function (data) {
                alert('Level berhasil dihapus');
                location.reload();


            },
            error: function (sesuatu) {
                alert('error');
            }


        });


    }


</script>

</body>

</html>