<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <title>tambah level admin</title>
</head>
<body>

<form action="/level/tambah" method="POST">
    {% if role == "admin" %}
        {% include 'navbar_admin.html' %}
    {% else %}
        {% include 'navbar_anggota.html' %}
    {% endif %}
    {% csrf_token %}
    <h1>Tambah Level</h1>
    <label for="namaLevel">Nama Level</label>
    <input type="text" class="form-control" id="namaLevel" placeholder="contoh: Gold" name="nama_level" required>

    <label for="minimumPoin">Minimum Poin</label>
    <input type="number" class="form-control" id="minimumPoin" placeholder="contoh: 200" name="minimum_poin" required>

    <label for="deskripsi">Deskripsi</label>
    <input type="text" class="form-control" id="deskripsi" placeholder="" name="desc" required>
    <br>
    <button type="submit">Submit</button>

</form>


</body>
</html>