.main {

    font-family: 'Cabin', sans-serif;
}

.blue-under {
    text-decoration: underline;
    text-decoration-color: #17a2b8;
}

.font-title {
    font-size:1.5em !important;
}

.banner {
    margin:7vh 0;
}

.role{
    margin-bottom:4vh;
}

img {
    width: 3.5vh;
    margin-right: 1vmax;
}

.attr-row {
    /* justify-content: center; */
    align-items: center;
    display: flex;
    margin:3vh 0;
}

.cancel-margin-bot {
    margin-bottom:0;
}

.profile-flex {
    display: flex;
}

.flex-right {
    margin:0 15vmax 0 3vmax;
}

.separator {
    border-left: thin solid #17a2b8;
}

@media only screen and (max-width: 767px) {
    .profile-flex {
        display: block;
    }
    .flex-right {
        margin: 0;
    }
    .separator {
        display:none;
    }
  }