.main {
    font-family: 'Cabin', sans-serif;
}

.blue-under {
    text-decoration: underline;
    text-decoration-color: #17a2b8;
}

.banner {
    margin:7vh 0;
}

td, th {
    border-color: grey !important;
    padding: 1em !important;
}

th {
    padding-right: 2vw !important;
}

table {
    margin: 0 auto;
    text-align: center;
}

.separator {
    font-weight: bolder;
}

.table-ref {
    color:black !important;
}

table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_desc_disabled:before {
    content:""!important;
}

table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_desc_disabled:after {
    content:""!important;
}

.page-item.disabled .page-link {
    color: #6c757d!important;
}
.page-item.active .page-link {
    color: #fff!important;
    background-color: #17a2b8!important;
    border-color: #17a2b8!important;
}

.page-link {
    color: #17a2b8!important;
}

@media only screen and (max-width: 496px) {
    .separator {
        display:none;
    }
  }

.item-area {
    margin: 0 auto;
    width: 50vmax;
}

.form-control {
    font-size:1em;
	margin: 1vh 0;
}

.form-control-1 {
    font-size:1em;
    padding: .375rem .75rem;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    width: 15%;
}

.filter-option {
    background-color: white;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.submit {
    margin: 2vh 0;
}

textarea {
    height: auto;
}

::placeholder {
    color: grey;
  }