.main {
    background: #abbaab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #ffffff, #abbaab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #ffffff, #abbaab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;

    font-family: 'Cabin', sans-serif;
}

.title {
    text-align: center;
    margin-top: 15vh;
    font-size: 3em;
}

.desc {
    text-align: center;
}

.my-4 {
    max-width: 50vmax;
    
}

.login-area {
    display : flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;

}
.child {
    margin: 0 auto;
    min-width: 30vw;
}

.form-field {
    width: 80%;
    padding: .5vh 1vw;
    flex-grow:2;
    border-radius: 20pt;
    border:none;
    background-color: rgb(234, 235, 236);
}

.form-nav {
    display: flex;
    margin: 4vh auto 0 auto;
}

.form-nav-item {
    color:grey;
    margin-left: .5vw;
    margin-right: .5vw;
    -webkit-transition: color 0.8s ease;
    -moz-transition: color 0.8s ease;
    -o-transition: color 0.8s ease;
    transition: color 0.8s ease;
}

.form-nav-item-arrow {
    margin:0 .5vw;
    color:grey;
}

.login-form {
    display:flex;
    flex-direction:row;
    
    border-radius: 20pt;
    border: solid 1px;
    
    padding: 3px;
    background-color: rgb(234, 235, 236);
    margin-bottom: 2vh;
}

input:focus {
   outline: none;
}

.next-button {
    background: transparent;
    border: transparent;
    font-size: 1.4em;
    font-weight: bold;
    color: #007bff;
    -webkit-transition: color 0.6s ease;
    -moz-transition: color 0.6s ease;
    -o-transition: color 0.6s ease;
    transition: color 0.6s ease;
}

.reg-message {
    margin: 7vh auto;
}

a {
    text-decoration: none;
}