<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand blue-under font-title" href="#">ToysRent</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>        
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Item
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'item:create_item' %}">Tambah Item</a>
                <a class="dropdown-item" href="{% url 'item:show_items' "static" %}">Daftar Item</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Barang
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Tambah Barang</a>
                <a class="dropdown-item" href="#">Daftar Barang</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Level
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'level:tambah' %}">Tambah Level</a>
                <a class="dropdown-item" href="{% url 'level:daftar_level' %}">Daftar Level</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Pesanan
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                a class="dropdown-item" href="{% url 'pesanan:pesan' %}">Buat Pesanan</a>
                <a class="dropdown-item" href="{% url 'pesanan:daftar_pesanan' %}">Daftar Pesanan</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Pengiriman
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'pengiriman:buat-pengiriman' %}">Buat Pengiriman</a>
                    <a class="dropdown-item" href="{% url 'pengiriman:daftar-pengiriman' %}">Daftar Pengiriman</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'user:profile' %}">Profile <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Chat Pengguna</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Daftar Review</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'toysrent_auth:login' %}">Logout</a>
            </li>
        </ul>
    </div>
</nav>