{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tambah Item</title>
    <link rel = "stylesheet" href = "{% static 'item/css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
</head>
<body class="bg-light main">
    <div class="container">
        {% if role == "admin" %}
            {% include 'navbar_admin.html' %}
        {% else %}
            {% include 'navbar_anggota.html' %}
        {% endif %}
        <div class = "display-4 banner">
            Tambah Item
            <hr>
        </div>
        <div class="item-area">
            <div class = "reg-content" id="reg-content-item">
                <form method="POST", action="", class = "login-form" id = "form-1">
                    {% csrf_token %}
                    {{ form_tambah_item.nama }}
                    {{ form_tambah_item.deskripsi }}
                    {{ form_tambah_item.usia_awal }}&nbsp;-&nbsp; {{ form_tambah_item.usia_akhir }}
                    {{ form_tambah_item.bahan }}
                    {{ form_tambah_item.kategori }}
                    <button class = "btn btn-outline-dark submit"type="submit">Tambah Item</button>
                </form>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $('select').selectpicker();
            $('.filter-option-inner-inner').html("Kategori");
        });
    </script>
</body>
</html>