{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Item</title>
    <link rel = "stylesheet" href = "{% static 'item/css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- MDB core JavaScript -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <script src = "{% static 'mdb/js/mdb.min.js' %}" type = "text/javascript"></script>
    <link rel = "stylesheet" href = "{% static 'mdb/css/addons/datatables.min.css' %}">
    <script src = "{% static 'mdb/js/addons/datatables.min.js' %}" type = "text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.6/dist/loadingoverlay.min.js"></script>
    <script src = "{% static 'item/js/scripts.js' %}" type = "text/javascript"></script>
    <script src = "{% static 'toysrent_auth/js/accordion.js' %}" type = "text/javascript"></script>
</head>
<body class = "bg-light main">
    <div class = "container">
        {% if role == "admin" %}
            {% include 'navbar_admin.html' %}
        {% else %}
            {% include 'navbar_anggota.html' %}
        {% endif %}
        <div class = "display-4 banner">
            Daftar Item
            <hr>
        </div>
        {% if updated %}
            <h6 style="color:rgb(17, 162, 17)">Item telah terupdate!</h6>
        {% endif %}
        <h5>Klik salah satu atribut untuk mensortir.</h5>
        <table class="table table-striped" id="dtItem">
            <thead>
                <tr>
                    <th class ="th-sm" scope = "col">No.</th>
                    <th class ="th-sm" scope = "col">Nama</th>
                    <th class ="th-sm" scope = "col">Kategori</th>
                    <th class ="th-sm" scope = "col">Action</th>
                    {% if role == "admin" %}
                        <th class ="th-sm" scope = "col">Action [ADMIN]</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr scope = "row" id = "row-{{forloop.counter}}">
                        <td>{{ forloop.counter }}</td>
                        <td>{{ item.nama }}</td>
                        <td>
                            {% for kategori in item.kategori %}
                                {{ kategori }},
                            {% endfor %}
                        </td>
                        <td><a class = "blue-under table-ref" href = "#">Lihat Barang-barang</a></td>
                        {% if role == "admin" %}
                            <td class = "identifier" id = "{{ item.nama }}">
                                <!-- Bikin id untuk update item -->
                                {% csrf_token %}
                                <a class = "blue-under table-ref"  href = "{% url 'item:update_item' item.nama %}">Update</a>
                                <span class = "separator">|</span> 
                                <a class = "blue-under table-ref" href = "#" data-toggle="modal" data-target="#deleteModal-{{forloop.counter}}">Delete</a> 
                                <span class = "separator">|</span> 
                                <a class = "blue-under table-ref" href = "#">Tambah Barang</a>
                            </td>
                            <div class="modal fade" id="deleteModal-{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modalLabel">Delete Item?</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Apakah anda benar-benar ingin menghapus item ini?
                                        <br>
                                        Semua barang dan pemesanan yang dimiliki item ini akan ikut terhapus!
                                    </div>
                                    <div class="modal-footer">
                                        {% csrf_token %}
                                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                                        <button type="button" id = "delete-{{ forloop.counter }}-{{ item.nama }}" onClick="deleteItem(this)" class="btn btn-outline-danger" data-dismiss="modal">Delete Item</button>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </tr>
                {% endfor %}
                
            </tbody>
            <button id="after-modal" data-toggle="modal" data-target="#delete-after" style="display:none"></button>
            <div class="modal fade" id="delete-after" tabindex="-1" role="dialog" aria-labelledby="modalLabel2" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalLabel2">Item Terhapus!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Item telah dihapus!
                    </div>
                    <div class="modal-footer">
                        {% csrf_token %}
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                        <a href = "{% url 'item:show_items' "new" %}" class="btn btn-outline-primary">Refresh Page</a>
                    </div>
                    </div>
                </div>
            </div>
        </table>

    </div>
</body>
</html>