{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Daftar Review</title>
    <link rel = "stylesheet" href = "{% static 'review/css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src = "{% static 'toysrent_auth/js/scripts.js' %}" type = "text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel = "stylesheet" href = "{% static 'mdb/css/addons/datatables.min.css' %}">
    <script src = "{% static 'mdb/js/addons/datatables.min.js' %}" type = "text/javascript"></script>
    <script src = "{% static 'review/js/scripts.js' %}" type = "text/javascript"></script>

</head>
<body class = "main bg-light">
    <div class = "container">
        {% if role == "admin" %}
            {% include 'navbar_admin.html' %}
        {% else %}
            {% include 'navbar_anggota.html' %}
        {% endif %}
    
        <div align="middle" class = "child">
            <h3>Daftar Review</h3>
            <p>Review yang telah disimpan</p>
            </form>     
        </div>

        <table id="dtReview" class="table table-hover" style="width: 100%">
            <thead>
                <tr>
                    <th>ID Pengiriman</th>
                    <th>Barang</th>
                    <th>Review</th>
                    <th>Tanggal review</th>
                    {% if role == "admin" %}
                    {% else %}
                        <th>Action (anggota)</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for r in list_review %}
                <tr>
                    <td>{{ r.0}} </td>
                    <td>{{ r.1 }} </td>
                    <td>{{ r.3 }} </td>
                    <td>{{ r.2 }} </td>
                    {% if role == "admin" %}
                    {% else %}
                        <th>
                            <button type="button" id="{{ r.0 }}/{{ r.4 }}" onclick="updateFunction(this.id)" class="btn btn-warning">Update</button> 
                            <button type="button" onclick="deleteFunction({{ r.0 }}, {{ r.4 }})" class="btn btn-danger">Delete</button>
                        </th>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        function updateFunction(btn_id) {
            window.location.pathname = "review/update-review/" + btn_id;
        }
        function deleteFunction(noResi, noUrut) {
            var csrftoken = $("[name=csrfmiddlewaretoken]").val();
            $.ajax({
                type: 'POST',
                url: '/review/',
                data: {'no_resi': noResi, 'no_urut' : noUrut},
                headers: {
                    "X-CSRFToken": csrftoken
                },
                success: function (data) {
                    alert('Review berhasil dihapus');
                    location.reload();
                },
                error: function (sesuatu) {
                    alert('Error');
                }
            });
        }
    </script>
</body>
</html>