{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Update Review</title>
    <link rel = "stylesheet" href = "{% static 'review/css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src = "{% static 'toysrent_auth/js/scripts.js' %}" type = "text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
</head>
<body class = "main bg-light">
    <div class = "container">
        {% if role == "admin" %}
            {% include 'navbar_admin.html' %}
        {% else %}
            {% include 'navbar_anggota.html' %}
        {% endif %}
    </div>
    <div class = "login-area">
        <div class = "child">
            <h3>Update Review</h3>
            <p>Update review yang telah ditulis</p>
            <form method="POST", action="/review/update-review/">
                {% for bd in barang_dikirim %}
                <input type="text" value="{{ bd.0 }}" name="no_resi" hidden>
                <input type="text" value="{{ bd.4 }}" name="no_urut" hidden>
                    <div class="form-group">
                        <label>Barang dikirim: {{ bd.1 }}</label>
                    </div>
                    <div class="form-group">
                        <label for="formReview">Edit Review</label>
                        <p>(Sebelum: {{ bd.3 }})</p>
                        <textarea  type="date" class="form-control" id="formReview" name="review" required></textarea >
                    </div>
                    {% csrf_token %}
                    <button type="submit" class="next-button">Update</button>
                {% endfor %}
            </form>
        </div>
    </div>
</body>
</html>