{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login ToysRent</title>
    <link rel = "stylesheet" href = "{% static 'toysrent_auth/css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.6/dist/loadingoverlay.min.js"></script>
    <script src = "{% static 'toysrent_auth/js/scripts.js' %}" type = "text/javascript"></script>
    <script src = "{% static 'toysrent_auth/js/accordion.js' %}" type = "text/javascript"></script>
</head>
<body class = "main bg-light">
    <div class = "container">
        <div class = "banner">
            <h1 class = "title display-4">ToysRent</h1>
            <p class = "lead desc">Sewa mainan dan aksesoris untuk anak anda.</p>
            <hr class="my-4">
        </div>
        <div class = "login-area">
            <div class = "child">
                <h3>Login</h3>
                <p>Sudah punya akun? Masukkan E-mail dan No. KTP anda untuk mulai meminjam.</p>
                <div class="form-nav">
                    <h6 class = "form-nav-item 1 active">No KTP</h6>
                    <h6 class = "form-nav-item-arrow">></h6>
                    <h6 class = "form-nav-item 2" value="final">E-mail</h6>
                </div>
                <form method="POST", action="", class = "login-form" id = "form-1">
                    {% csrf_token %}
                    {{ form_login.single_char_field }}
                    <button onClick="submitActionLogin(this)" type="submit" class="next-button">></button>
                </form>
                <h6 class = "warn-msg" style = "display:none"></h6>
                <h6 class = "reg-message">Belum punya akun? Daftar <a href = "{% url 'toysrent_auth:register' %}">sekarang</a>.</h6>
            </div>
        </div>
    </div>
</body>
<script>
    $(document).ready(function() {

        $('.form-field:visible').attr("placeholder", $('.active:visible').text());
        $('.active').css("color",    "#007bff");    
    });
</script>
</html>