{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Daftar Pengguna ToysRent</title>
    <link rel = "stylesheet" href = "{% static 'toysrent_auth/css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.6/dist/loadingoverlay.min.js"></script>
    <script src = "{% static 'toysrent_auth/js/scripts.js' %}" type = "text/javascript"></script>
    <script src = "{% static 'toysrent_auth/js/accordion.js' %}" type = "text/javascript"></script>

</head>
<body class = "main bg-light">
    <div class = "container">
        <div class = "banner">
            <h1 class = "title display-4">ToysRent</h1>
            <p class = "lead desc">Sewa mainan dan aksesoris untuk anak anda.</p>
            <hr class="my-4">
        </div>
        <div class = "login-area">
            <div class = "child">
                <h3>Daftar Pengguna</h3>
                <p>Daftar untuk menjadi pengguna tetap ToysRent:</p>
                <div class="dropdown">
                    <button class="btn btn-outline-dark btn-sm dropdown-toggle" type="button" id="role-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Pilih role anda
                    </button>
                    <div class="dropdown-menu" aria-labelledby="role-dropdown">
                        <button class="dropdown-item" type="button" id="role-admin">Admin</button>
                        <button class="dropdown-item" type="button" id="role-anggota">Anggota</button>
                    </div>
                </div>
                <div class = "reg-content" id="reg-content-admin" style="display:none">
                    <div class="form-nav">
                        <h6 class = "form-nav-item 1 active">No KTP</h6>
                        <h6 class = "form-nav-item-arrow">></h6>
                        <h6 class = "form-nav-item 2">Nama Lengkap</h6>
                        <h6 class = "form-nav-item-arrow">></h6>
                        <h6 class = "form-nav-item 3">E-mail</h6>
                        <h6 class = "form-nav-item-arrow">></h6>
                        <h6 class = "form-nav-item 4">Tanggal Lahir</h6>
                        <h6 class = "form-nav-item-arrow">></h6>
                        <h6 class = "form-nav-item 5" value = "final">Nomor Telepon</h6>
                    </div>
                    <form method="POST", action="", class = "login-form">
                        {% csrf_token %}
                        {{ form_register_pengguna.single_char_field }}
                        {{ form_register_pengguna.date_field }}
                        <button onClick="submitActionRegister(this)" type="submit" class="next-button">></button>
                    </form>
                </div>
                <div class = "reg-content" id="reg-content-anggota" style="display:none">
                    <div class="form-nav">
                        <h6 class = "form-nav-item 1 active">No KTP</h6>
                        <h6 class = "form-nav-item-arrow">></h6>
                        <h6 class = "form-nav-item 2">Nama Lengkap</h6>
                        <h6 class = "form-nav-item-arrow">></h6>
                        <h6 class = "form-nav-item 3">E-mail</h6>
                        <h6 class = "form-nav-item-arrow">></h6>
                        <h6 class = "form-nav-item 4">Tanggal Lahir</h6>
                        <h6 class = "form-nav-item-arrow">></h6>
                        <h6 class = "form-nav-item 5">Nomor Telepon</h6>
                        <h6 class = "form-nav-item-arrow">></h6>
                        <h6 class = "form-nav-item 6" value = "final">Alamat</h6>
                    </div>
                    <form method="POST", action="", class = "login-form last-address" id = "form-1">
                        <button onClick="addAddress()"  type="button" class="next-button plus-button" style="display:none">+</button>
                        {% csrf_token %}
                        {{ form_register_pengguna.single_char_field }}
                        {{ form_register_pengguna.date_field_2 }}
                        <div class = "alamat" id = "nama" style="display:none">
                            {{ form_register_pengguna.single_char_field }}
                        </div>
                        <div class = "alamat" id = "jalan" style="display:none">
                            {{ form_register_pengguna.single_char_field }}
                        </div>
                        <div class = "alamat" id = "nomor" style="display:none">
                            {{ form_register_pengguna.single_char_field }}
                        </div>
                        <div class = "alamat" id = "kota" style="display:none">
                            {{ form_register_pengguna.single_char_field }}
                        </div>
                        <div class = "alamat" id = "kodepos" style="display:none">
                            {{ form_register_pengguna.single_char_field }}
                        </div>
                        <button onClick="submitActionRegister(this)" type="submit" class="next-button" id = "nexty">></button>
                    </form>
                </div>
                <h6 class = "warn-msg" style = "display:none">Nomor KTP atau E-mail yang anda masukkan sudah pernah terdaftar.</h6>
                <h6 class = "reg-message"><a href = "{% url 'toysrent_auth:login' %}">Saya sudah pernah mendaftar</a>.</h6>
                <button type="button" id = "success-reg" data-toggle="modal" data-target="#reg-continue" style="display: none"></button>
                <div class="modal fade" id="reg-continue" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ModalTitle">Anda telah terdaftar!</h5>
                        </div>
                        <div class="modal-body">
                            Selamat! Anda telah terdaftar sebagai pengguna.
                        </div>
                        <div class="modal-footer">
                            <a href = "{% url 'toysrent_auth:login' %}"><button type="button" class="btn btn-outline-primary">Login</button></a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    $(document).ready(function() {
        $( ".datepicker" ).datepicker({
            changeMonth: true,
            changeYear: true
        });
        $( ".datepicker2" ).datepicker({
            changeMonth: true,
            changeYear: true
        });

        $('.hasDatepicker').hide();
        $('.active').css("color", "#007bff");    
    });
</script>
</html>